# Virtual Environment
banking-faq/
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Other common ignores
.DS_Store
*.log
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride